.button {
	padding: 40px 200px;
	background: none;
	border: none;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	cursor: pointer;
	font-size: 24px;
	@include mq-sp {
		padding: 20px 40px;
		font-size: 16px;
	}
	&:after, &:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: 2px solid #000;
		transition: transform .2s;
	}
	&:before {
		transform: translate(5px, 5px);
	}
	&:after {
		transform: translate(-5px, -5px);
	}
	&:hover:after, &:hover:before {
		transform: translate(0);
	}
}
