.contact {
  max-width: 1366px;
  margin: 0 auto;
}

.form {
  text-align: center;
  padding-bottom: 120px;
}

input[type="text"] {
  display: inline-block;
  width: 50%;
  padding: 15px;
  border: 2px solid #ccc;
  margin: 5px auto;
  outline:none;
  transition: all 0.3s ease;
}

input[type="text"]:focus, textarea:focus {
  border: 2px solid $color-main-strong;
}

textarea {
  outline: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
  @include mq-sp {
    margin-bottom: 30px;
  }
  padding: 10px;
  width: 50%;
  height: 150px;
  border: 2px solid #ccc;
}

