@keyframes showImage {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes fadeOut {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: -100vh;
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-15px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes airy {
  0% {
    -webkit-transform:translate(0, 0) rotate(-5deg);
  }
  50% {
    -webkit-transform:translate(0, -5px) rotate(0deg);
  }
  100% {
    -webkit-transform:translate(0, 0)rotate(5deg);
  }
}
  
@keyframes airy {
  0% {
    transform:translate(0, 0) rotate(-5deg);
  }
  50% {
    transform:translate(0, -5px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0)rotate(5deg);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}