// color palette
$color-main: #454545;
$color-main-strong: #252525;
$color-sub: #efefef;

$color-neutral: #aaa;

// break points
$sp-max-width: 768px;
$pc-min-width: 769px;

// path
$image-path: '../images';

// font
$font-main: 'Raleway', sans-serif;
