/*
 * OPENING CSS Animation FROM HERE 
 */
 #animation-root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #eee;
  animation: fadeOut 1s ease 1.8s forwards;
}

#screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // images
  & .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    overflow: hidden;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-size: cover;
      background-position: center;
    }
    &:nth-child(1) {
      animation: showImage 1s ease 0.5s forwards;
      &:after {
        background: url(#{$image-path}/1.jpg) center/cover no-repeat;
        // @include mq-sp {
        //   background-position: 30%;
        // } this might fix animation position problem but low priority
      }
    }
    &:nth-child(2) {
      animation: showImage 1s ease 0.9s forwards;
      &:after {
        background: url(#{$image-path}/2.jpg) center/cover no-repeat;
      }
    }
    &:nth-child(3) {
      animation: showImage 1s ease 1.3s forwards;
      &:after {
        background: url(#{$image-path}/3.jpg) center/cover no-repeat;
      }
    }
  }
}

.top {
  opacity: 0;
  animation: .7s fadeIn 2.3s cubic-bezier(1, 0, 0.01, 0.99) forwards;
}

h1 {
  font-size: 120px;
  @include mq-sp {
    font-size: 24px;
  }
}


/* full screen section */
.section {
  height: 100vh;
  &:nth-child(1) {
    color: $color-main;
    p {
      display: inline-block;
      position: absolute;
      top: 30%;
      left: 10%;
      font-size: 48px;
      line-height: 1.4;
      font-weight: 700;
      @include mq-sp {
        top: 35%;
        left: 10%;
        font-size: 18px;
      }
    }
    a {
      display: block;
      position: absolute;
      top: 60%;
      left: 10%;
      font-size: 36px;
      opacity: 0;
      -webkit-animation: 1s fadeIn 4.5s cubic-bezier(1, 0, 0.01, 0.99) forwards;
      animation: 1s fadeIn 4.5s cubic-bezier(1, 0, 0.01, 0.99) forwards;
      @include mq-sp {
        top: 70%;
        left: 30%;
        font-size: 24px;
      }
      &:after {
        display: block;
        content: "";
        position: absolute;
        top: 40px;
        @include mq-sp {top: 28px;}
        width: 0%;
        height: 2px;
        background: $color-main;
        transition: all .3s cubic-bezier(1, 0, 0.01, 0.99);
      }
      &:hover:after {
        width: 100%;
      }
    }
  }
  &:nth-child(2) { // MICHI
    background: url(../images/1.jpg) center/cover no-repeat;
    a h2 {
      text-transform: uppercase;
      color: #efefef;
      position: absolute;
      z-index: 4;
      top: 30%;
      left: 10%;
      font-size: 36px;
      @include mq-sp {
        font-size: 24px;
      }
    }
    a p {
      line-height: 1.4;
      color: #efefef;
      display: inline-block;
      position: absolute;
      top: 35%;
      left: 10%;
      font-size: 36px;
      @include mq-sp {
        font-size: 18px;
      }
    }
  }
  &:nth-child(3) { // TEATORA
    background: url(#{$image-path}/2.jpg) center/cover no-repeat;
    a h2 {
      text-transform: uppercase;
      color: #efefef;
      position: absolute;
      z-index: 4;
      top: 30%;
      left: 10%;
      font-size: 36px;
      @include mq-sp {
        font-size: 24px;
      }
    }
    a p {
      line-height: 1.4;
      color: #efefef;
      display: inline-block;
      position: absolute;
      top: 35%;
      left: 10%;
      font-size: 36px;
      @include mq-sp {
        font-size: 18px;
      }
    }
  }
  &:nth-child(4) { // SKAGEN
    background: url(#{$image-path}/3.gif) center/cover no-repeat;
    a h2 {
      text-transform: uppercase;
      color: #454545;
      position: absolute;
      z-index: 4;
      top: 20%;
      left: 10%;
      font-size: 36px;
      @include mq-sp {
        font-size: 24px;
      }
    }
    a p {
      line-height: 1.4;
      color: #454545;
      display: inline-block;
      position: absolute;
      top: 25%;
      left: 10%;
      font-size: 36px;
      @include mq-sp {
        font-size: 18px;
      }
    }
  }
  &:nth-child(5) { // CTA
    a h2 {
      display: flex;
      text-transform: uppercase;
      color: #efefef;
      position: absolute;
      z-index: 4;
      top: 50%;
      left: calc(50% - 500px/2);
      font-size: 36px;
      animation: 3s airy infinite linear alternate;
      -webkit-animation: 3s airy infinite linear alternate;
      @include mq-sp {
        display: inline-block;
        font-size: 20px;
        left: calc(50% - 280px/2);
      }
    }
    p {
      color: #ddd;
      font-size: 14px;
      position: absolute;
      bottom: 0;
      left: calc(50% - 192px/2);
    }
  }
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
  // background-image: /* our video */;
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
  z-index:3;
}

video::-webkit-media-controls {
  display: none;
}

.fullpage-cta {
  font-weight: 700;
  font-size: 24px;
  @include mq-sp {
    font-size: 18px;
  }
}